body {
    width: 100%;
}

.wrapper {
    position: relative;
    padding: 6rem 4rem;
    height: 21rem;
    text-align: center;
}

.wrapper .greeting {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: white;
}

.wrapper .greeting .my_name {
    background: linear-gradient(-45deg, #eb4b1a, #23a6d5, #e51263, #0bf18a);
    background-size: 400% 100%;
    animation: gradient 15s ease infinite;
    font-size: 3rem !important;
    padding-left: 1rem;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wrapper .greeting span:hover {
    color: yellow !important;
}

.myprofession {
    display: flex;
    height: 1.5rem;
}

.wrapper .myprofession span {
    color: rgb(219, 246, 194) !important;
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.wrapper .quote {
    padding-top: 2rem;
    color: rgb(185, 185, 185);
}